body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 6em;
}

.subtitle {
    font-size: 3em;
}

.reveal [class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible [class*="reveal-"] {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(0.5,0,0,1);
}

.reveal-visible .reveal-2 {
    transition-delay: 0.1s;
}

.reveal-visible .reveal-3 {
    transition-delay: 0.2s;
}

.intro_wrapper, .general_wrapper {
    height: 100vh;
}

.intro_wrapper{
    color: white;
    background-image: url(../images/tableau.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    flex-direction: column;
}

h2 {
    text-align: center;
}

.general_wrapper {
    width: 80%;
    margin: auto;
}

.general_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.wrapper_container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%; 
    max-width: 1200px; 
}

.wrapper_left,
.wrapper_right {
    flex-basis: 50%;
    text-align: center;
    padding: 1.5em;
    box-sizing: border-box;
}

.waffle_picture {
    max-width: 100%;
    height: auto;
    clip-path: ellipse(33% 50%);
    margin: 1em;
}

.access_info {
    margin-top: 4em;
}

.time_container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 20px 60px; 
    grid-template-areas: 
      "jour1 horaire1"
      "jour2 horaire2"
      "jour3 horaire3"
      "jour4 horaire4"
      "jour5 horaire5"
      "jour6 horaire6"
      "jour7 horaire7"; 
    justify-items: start; 
    align-items: center; 
    width: 70%; 
  }
  
.jour1 { grid-area: jour1; }

.jour2 { grid-area: jour2; }

.jour3 { grid-area: jour3; }

.jour4 { grid-area: jour4; }

.jour5 { grid-area: jour5; }

.jour6 { grid-area: jour6; }

.jour7 { grid-area: jour7; }

.horaire1 {  display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
    "."
    "horaire1bis";
grid-area: horaire1;
}

.horaire1bis { grid-area: horaire1bis; }

.horaire2 {  display: grid;
grid-template-rows: 1fr 1fr;
grid-auto-columns: 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-area: horaire2;
}

.horaire2bis { grid-area: 2 / 1 / 3 / 2; }

.horaire3 {  display: grid;
grid-template-rows: 1fr 1fr;
grid-auto-columns: 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-area: horaire3;
}

.horaire3bis { grid-area: 2 / 1 / 3 / 2; }

.horaire4 {  display: grid;
grid-template-rows: 1fr 1fr;
grid-auto-columns: 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-area: horaire4;
}

.horairebis { grid-area: 2 / 1 / 3 / 2; }

.horaire5 {  display: grid;
grid-template-rows: 1fr 1fr;
grid-auto-columns: 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-area: horaire5;
}

.horaire5bis { grid-area: 2 / 1 / 3 / 2; }

.horaire6 {  display: grid;
grid-template-rows: 1fr 1fr;
grid-auto-columns: 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-area: horaire6;
}

.horaire6bis { grid-area: 2 / 1 / 3 / 2; }

.horaire7 { grid-area: horaire7; }



/* slider */
.items {
    transform: translate(-50%, -50%);
}
  
.items .item {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 250px;
height: 250px;
border-radius: 50%;
overflow: hidden;
transition: all 300ms ease-in-out;
z-index: -1;
opacity: 0;
}

.item img {
width: 100%;
height: 100%;
object-fit: cover;
}

.item.active {
opacity: 1;
z-index: 99;
box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
z-index: 2;
opacity: 0.25;
transform: translate(-125%, -50%);
}

.item.next {
z-index: 2;
opacity: 0.25;
transform: translate(25%, -50%);
}

.items .button-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 275px;
z-index: 100;
}

.button-container .button {
color: #fff;
font-size: 32px;
cursor: pointer;
position: relative;
opacity: 0.75;
transition: all 300ms ease-in-out;
}

.button-container .button:hover {
opacity: 1;
}

.button-container .button:before {
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 50px;
height: 50px;
background-color: rgba(0, 0, 0, 1);
border-radius: 50%;
z-index: -99;
}

.button-container .button:nth-child(1) {
float: left;
}

.button-container .button:nth-child(2) {
float: right;
}

